
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <a class="navbar-brand mt-2 mt-lg-0" href="#">
          <img src="assets/stackoverflowlogo.png" height="55" alt="MDB Logo" loading="lazy"/>
        </a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">For Teams</a>
          </li>
          <li>
            <div class="form-outline">
                <input type="search" id="form1" class="form-control search" placeholder="Search..."  aria-label="Search" />
            </div>
          </li>
        </ul>

      </div>


      <div class="d-flex align-items-center">

        <button class="btn btn-sm mx-2 btn-outline-primary">Log In</button>
        <button class="btn btn-primary btn-sm">Sign up</button>


      </div>

    </div>

  </nav>

